<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Customer Page</title>
  </head>
  <body>
    <p>
      <h3>1. To authenticate with merchant</h3>
      <h3>2. To send Key to customer1</h3>
      <h3>3. To send key to merchant</h3>
      <h3>4. To send key to customer2</h3>

    </p>
    <div class="container mt-5">
      <h2>Enter your option</h2>
      <form action="/handleinput" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="action_number">Enter Number:</label>
          <input
            type="number"
            class="form-control"
            id="action_number"
            name="action_number"
            placeholder="Enter a number"
          />
        </div>
        <!-- <div class="form-group">
          <label for="number_input">Enter Text:</label>
          <input
            type="text"
            class="form-control"
            id="text_input"
            placeholder="Enter text"
          />
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
